<!DOCTYPE html>
<head>
    <title>FSB Scholarships</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Donate to FSB Scholarships</h1>
    <p>Thank you for your interest in donating to the Florida Sea Base scholarship fund. Because of generous donors like you,
        Sea base is able to offer lasting memories for thousands of youth each year.</p>
</body>