<!DOCTYPE html>
<head>
    <title>FSB Scholarships</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>FSB Scholarships</h1>
    <p>Thank you for your interest in applying for a scholarship provided by Florida Sea Base's generous donors.</p>
    <p>If you would just like to apply, continue on. If you are interested in donating to this fund to sustain Sea Base's
        ability to provide Ocean Adventures that make a lifetime difference, please <a href="/donate">click here</a>.</p>
    <h2>How does it work?</h2>
    <p>Scholarships are awarded on a first-come, first-serve basis for Scouts that meet the criteria for demonstrated need.</p>
    <p>Scouts will first fill out their out their scholarship essay describing what a trip to sea base would mean to them and why
        they deserve a scholarship.</p>
    <p>Next, parents or guardians will fill out their portion of the application, certifying financial need for the Scout to attend
        Sea Base.</p>
    <p>Finally, Scouts should provide the contact info for two character references. One or both will be contacted to fill out a
        short recommendation letter online.</p>
    <form action="/apply" method="POST">
        <label for="scout-application">Short Application Essay</label>
        <textarea name="scout-application"></textarea>
        <button type="submit">Apply</button>
    </form>
</body>